#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.board{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.board .game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.square{
  display: flex;
  width:60px;
  height: 60px;
  border: solid 1px #ccc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor:pointer
}
.turn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}
.turn .square{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}
.turn .isSelected{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#344ec6;
  border: 1px #222 solid;
}